<mat-sidenav-container>

  <mat-sidenav #sidenav mode="push">
    <div class="branding"><img src="/static/ang/assets/logo.png" /> <span>Proyecto Interno 01</span></div>
    <mat-nav-list>
      <a mat-list-item *ngFor="let item of navigationSideMenu" (click)="sidenav.close()"
         [routerLink]="[item.link]" routerLinkActive="active">
        {{item.label}}
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <div class="wrapper">

    <div class="toolbar">
      <mat-toolbar color="primary">
        <button mat-icon-button class="d-md-none" (click)="sidenav.open()">
          <mat-icon>menu</mat-icon>
        </button>

        <span routerLink="" class="branding spacer d-inline d-sm-none text-center"><img
          src="/static/ang/assets/logo.png"/></span>
        <span routerLink="" class="branding spacer d-none d-sm-inline d-md-none text-center"><img
          src="/static/ang/assets/logo.png"/> Angular Starter</span>
        <span routerLink="" class="branding spacer d-none d-md-inline"><img
          src="/static/ang/assets/logo.png"/> Proyecto Internos 01</span>


          <div class="form">
              <mat-form-field color="accent" class="underline">
          <input matInput #input class="form-control" placeholder="Correo Electronico"  name="name"  >
          </mat-form-field>
          </div>

          <div class="form">
              <mat-form-field color="accent" class="underline">
          <input matInput #input class="form-control" placeholder="Contraseña"  name="name"  >
          </mat-form-field>
          </div>

          
        <span class="d-none d-md-inline">
        <button mat-button class="nav-button mat-button ng-tns-c0-0 ng-star-inserted active" mat-button="" >
            Ingresar
          </button>
          </span>


          <!--
        <div  *ngIf="!af.authenticated">
            <button mat-button class="sign-in-button"
            (click)="showLoggin()">
            Sign in
            </button>
        </div>
      -->

        

        <div  *ngIf="af.authenticated">
            
                <button 
                mat-button class="sign-in-button"
                [matMenuTriggerFor]="toolbarUserMenu">
          <mat-icon>person</mat-icon>
          {{ af.user_name }}
          

        </button>
        
            
              <mat-menu #toolbarUserMenu="matMenu">
                  <button mat-menu-item (click)="onLogoutClick()">
                    <mat-icon>power_settings_new</mat-icon>
                    <span>Logout</span>
                  </button>
                </mat-menu>
          </div>

  

        <button mat-icon-button routerLink="settings" class="d-none d-sm-inline">
          <mat-icon>settings</mat-icon>
        </button>


      </mat-toolbar>
    </div>

    <div class="content"
         [@routerTransition]="o.isActivated && o.activatedRoute.routeConfig.path">
      <router-outlet #o="outlet"></router-outlet>
    </div>

    <div class="footer">
      <div class="row">
        <div class="col-sm-12 links">
          <a href="https://github.com/Demaro" target="_blank">
            <i class="fa fa-github fa-2x" aria-hidden="true"></i>
            <span>Github</span>
          </a>
          <a href="https://www.linkedin.com/in/demaro1/" target="_blank">
            <i class="fa fa-linkedin fa-2x" aria-hidden="true"></i>
            <span>Linkedin</span>
          </a>
          <a href="https://www.youtube.com/channel/UCwPzgRgzesvfO2HzTYacrtA?"
          target="_blank">
         <i class="fa fa-youtube fa-2x" aria-hidden="true"></i>
         <span>Youtube</span>
       </a>
          <a href="https://www.medium.com/@tomastrajan" target="_blank">
            <i class="fa fa-medium fa-2x" aria-hidden="true"></i>
            <span>Medium</span>
          </a>
          <a href="#">
            <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
            <span>Twitter</span>
          </a>
          <a href="#">
            <i class="fa fa-desktop fa-2x" aria-hidden="true"></i>
            <span>Slides</span>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-12 signature">
          &#169; {{year}} - Demaro Create 
          <br class="d-block d-sm-none">

        </div>
      </div>
    </div>

  </div>

</mat-sidenav-container>
